<strong>Olá {{ student }}, </strong>
<p>Bem vindo a GymPoint, segue abaixo os detalhes da sua matrícula:</p>
<p>
  <strong>ID: </strong> {{ id }} <br />
  <strong>Plano: </strong> {{ title }} <br />
  <strong>Duração: </strong> {{ duration }} meses <br />
  <strong>Valor total: </strong> R$ {{ price }} <br />

  <strong>Data de ínicio: </strong> {{ start_date }} <br />
  <strong>Data de término: </strong> {{ end_date }} <br />
  <br />
</p>
