<strong>Olá, {{ student }} </strong>
<p>Bem vindo a GymPoint, segue abaixo o detalhes da sua matrícula:</p>
<p>
  <strong>Plano: </strong> {{ title }} <br />
  <strong>Duração: </strong> {{ duration }} <br />
  <strong>Valor total: </strong> {{ price }} <br />

  <strong>Data de ínicio: </strong> {{ start_date }} <br />
  <strong>Data de término: </strong> {{ end_date }} <br />
  <br />
</p>
